/* Cleanin' Bootstrap */

*, ::before, ::after {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-color: black;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 15%, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 85%, rgba(0,0,0,1) 100%),
    url(https://images.unsplash.com/photo-1508098682722-e99c43a406b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    min-height: 100vh;
    color : white;
    font-size: large;
}

h3 {
    font-weight: bold;
    font-size: xx-large;
}

hr {
    margin: 0.3rem 0;
}

ul {
    font-size: small;
    position: relative;
    list-style: none;
    margin-left: 0;
    padding-left: 1.2em;
}

ul li:before {
    content: "\02C3\02C3\02C3";
    color: #4285F4;
    position: absolute;
    left: 0;
}

.class-head { 
    background-color: #000000cf;
    color: white;
    max-width: 850px;
    font-size: larger;
}

.menu-btn {
    font-size: larger;
}

.menu a, .class-head a {
    color: inherit;
    text-decoration: none;
}

.welcome {
    color: #3AAF9F;
}

.error-login {
    padding-top: 25px;
    padding-bottom: 25px;
    color: #fbfbfb;
    background-color: #ff1a1a87;
    border-radius: 5px;
}

.error-message {
    max-width: 600px;
}

.heading {
    color : #3AAF9F;
    font-size: x-large;
}

.headCut {
    margin: auto;
    color: #3AAF9F;
    width: 90%;
    height: 4px !important;
}

.loginForm, .menu-navbar {
    width: 40%;
}

.btn-success {
    background-color: #3AAF9F;
}

.menu-btn {
    font-size: inherit;
    background-color: #3AAF9F;
    border-radius: 0.25rem;
    padding: 10px;
    border: 1px solid #000000;
    width: auto;
}

.submit-btn {
    font-size: inherit;
    background-color: #3AAF9F;
    border-radius: 0.25rem;
    padding: 10px;
    border: 1px solid #000000;
}


.btn-menu{
    width: 450px;
}

.menu-btn-test {
    background-color: #3AAF9F;
    border-radius: 0.25rem;
    border: 1px solid #000000;
    padding: 10px;
    width: auto;
}

.header-date {
    font-size: small;
    font-style: italic;
    padding-left: 15px;
}

.accordion-button, .accordion-button:not(.collapsed) {
    background-color: #3AAF9F;
    color: white;
    font-size: large;
    box-shadow: 0 0 0 1px #3AAF9F;
}

.accordion-item:last-of-type, .accordion-button.collapsed, .accordion-collapse {
    border-radius: unset !important;
}

.accordion-button:focus {
    border-color: unset;
    box-shadow: 0 0 0 1px #3AAF9F;
}

.accordion-head-shorttext{
    display: none;
}

.accordion-item {
    background-color: unset;
}

.accordion-body {
    background-color: #000000;
    padding: 1rem 0;
}

.accordion-body .container {
    padding-left: 2px;
    margin-left: 0;
}

.accordion-button::after {
    filter: brightness(100);
}

.rank-legende-1:before {
    background-color: #4285F4;
}

.rank-legende-2:before {
    color: #FA7B17;
    background-color: #FA7B17;
}

.rank-legende-3:before {
    color: #34A853;
    background-color: #34A853;
}

.rank-legende-4:before {
    color: #24C1E0;
    background-color: #24C1E0;
}

.rank-legende-5:before {
    color: #FBBC04;
    background-color: #FBBC04;
}

.rank-legende-6:before {
    color: #EA4335;
    background-color: #EA4335;
}

.bullet-text {
    font-size: small;
    text-transform: uppercase;
    margin-left: 20px;
}

.class-top {
    font-size: 16px;
    color: #3AAF9F;
    padding-top: 10px;
}

.classement {
    line-height: 50px;
    font-size: 14px;
}

.classement:hover {
    background-color: #3AAF9F;
    transition: 0.5s ease-in-out;
}

.rank-position {
    width: 30px;
}

.rank-highlight-1, .rank-highlight-2 {
    border-left: 2px solid #4285F4;
}

.rank-highlight-3 {
    border-left: 2px solid #FA7B17;
}

.rank-highlight-4 {
    border-left: 2px solid #34A853;
}

.rank-highlight-5 {
    border-left: 2px solid #24C1E0;
}

.rank-highlight-18 {
    border-left: 2px solid #FBBC04;
}

.rank-highlight-19, .rank-highlight-20 {
    border-left: 2px solid #EA4335;
}

.club-logo {
    height: 40px;
}

.rank-club{
    text-transform: uppercase;
    width: 20%;
}

.footer {
    padding: 25px;
}

footer i[class*="fa-"] {
    font-size: 50px;
}

.fa-html5:after, .fa-css3-alt:after, .fa-php:after {
    content: "\00B7";
    padding-left: 20px;
    padding-right: 20px;
}

@media only screen and (max-width: 780px) {
    .rank-club, .rank-win, .rank-equal, .rank-lost {
        display: none;
    }
    .rank-logo, .rank-matchPlay, .goal-for, .goal-against, .rank-diff, .rank-points  {
        margin: auto;
    }
    .rank-points{
        padding-right: 40px;
    }
    footer i[class*="fa-"] {
        font-size: 30px;
    }
    .addclub .form-control, .label-logo, .submit-btn {
        margin-bottom: 15px;
        width: inherit;
    }
}

@media only screen and (max-width: 400px) {
    .goal-for, .goal-against  {
        display: none;
    }
    .bullet-text {
        font-size: smaller;
    }
}

@media only screen and (max-width: 340px) {
    .rank-diff  {
        display: none;
    }
    .menu {
        padding: 20px;
    }
    .menu-btn {
        width: 100%;
        margin: 0.25rem 0!important;
        text-align: center;
    }
    .accordion-head-longtext {
        display: none;
    }
    .accordion-head-shorttext{
        display: block;
        font-size: medium;
    }
    .bullet-text {
        font-size: x-small;
    }
    .footer {
        padding: 5px;
    }
    footer i[class*="fa-"] {
        font-size: 20px;
    }
}

@media only screen and (max-width: 285px) {
    .bullet-text {
        font-size: xx-small;
    }
}

@media only screen and (max-width: 260px) {
    .class-head, .menu {
        min-width: 200px;
    }
    .rank-matchPlay  {
        display: none;
    }
    .accordion-head-shorttext{
        font-size: small;
    }
    body {
        background: url(https://images.unsplash.com/photo-1508098682722-e99c43a406b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
    }
}

.submit-btn {
    color: white;
    font-weight: bold;
    font-size: medium;
    background-color: #3AAF9F;
    border-radius: 0.25rem;
    padding: 10px;
    border: 1px solid #000000;
}

/* details club */

.highlight-results-text {
    font-size: medium;
}

.carousel-inner {
    border-radius: 1%;
}

.carousel-item img {
    height: 340px;
}

.details-point {
    color: #3AAF9F;
    font-weight: bold;
    font-size: xxx-large;
}

.details-point-text {
    font-size: large;
    font-weight: bold;
    margin-top: -20px;
    padding-left: 25%;
    opacity: 50%;
}

/* ajout match page */

.input-club input, .input-ville input {
    background-color: inherit;
    color: white;
    border-top: 10px solid #ffffff;
    border-right: 10px solid #ffffff;
    border-left: 10px solid #ffffff;
    border-bottom: none;
    height: 100px;
    text-align: center;
    text-transform: uppercase;
}

input:required {
    background: unset;
    color: #3AAF9F;
  }
  
.addmatch input:required:invalid {
    background: url("../assets/img/goal_background.png") repeat 0 0;
  }

#club-home-goal:focus, #club-out-goal:focus {
    background: unset;
    outline: 0 none;
    color: #3AAF9F;
  }

.spinner-ball {
    display: inline-block;
    width: 75px;
    height: 75px;
    vertical-align: -.125em;
    border: unset;
}

.spinner-ball:hover {
    cursor: pointer;
    -webkit-animation: 1s linear infinite spinner-border;
    animation: 1s linear infinite spinner-border;
}

.addmatch-btn {
    background-color: unset;
    border: unset;
    padding-left: 10px;
}

.accordion-body .row {
    margin-left: unset;
}

/* ajout club page */

.addclub input {
    background-color: inherit;
    color: white;
    line-height: 2rem;
    text-transform: uppercase;
}

.addclub input::placeholder {
    color: white;
}


.addclub input:focus {
    background-color: inherit;
    color: white;
    border-color: #3AAF9F;
}

.label-logo {
    background-color: unset;
    border: 1px solid;
    font-weight: unset;
}

#form-logo {
    display: none;
}